name: Run CI
on:
  push:
    branches: [main]
    paths-ignore:
      - "**.md" # Do not need to run CI for markdown changes.
  pull_request:
    branches: [main]
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - jruby-9.3
          - jruby-9.4

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # If you only need the current version keep this.

      - uses: ./.github/actions/ci
        with:
          ruby-version: ${{ matrix.ruby-version }}
